# Hugo
public
/resources/
_vendor
go.sum
.hugo_build.lock
.frontmatter

# OS file systems
.DS_Store

# Editors
.vscode

# CSS
assets/css/base/main.css

# Node
package.json
package-lock.json
node_modules
