<style>

/* .flip-card-container */
.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  width: 100%;
  height: 500px;

  perspective: 1000px;
}

.flip-card-container .enlarge-link a::before {
  z-index: -1000;
}

.flip-card-container a {
  color: #fff;
}

.flip-card-container a:hover {
  text-decoration: none;
}

// https://dev.to/afif/100-more-underline-overlay-animations-the-upgraded-css-collection-4c25#the-curved
.zig-zag {
  line-height: 1.5;
  --cos45: 0.7071;
  padding-bottom: 15px;
  background:
    linear-gradient(135deg, #0000 calc(5px * var(--cos45)), currentColor 0 calc(10px * var(--cos45)), #0000 0),
    conic-gradient(from 135deg at top, currentColor 90deg, #0000 0),
    linear-gradient(-135deg, #0000 calc(5px * var(--cos45)), currentColor 0 calc(10px * var(--cos45)), #0000 0);
  background-size: 15px 10px, 15px calc(4px * var(--cos45));
  background-position: 0 100%, 0 calc(100% - 10px);
  background-repeat: repeat-x;
  -webkit-mask:
    linear-gradient(#fff 0 0) top /100% calc(100% - 15px),
    linear-gradient(#fff 0 0) var(--p, 0) 100%/var(--d, 0) 15px;
  -webkit-mask-repeat: no-repeat;
  transition: 0.5s, -webkit-mask-position 0s 0.5s;
}

.zig-zag:hover {
  --d: 100%;
  --p: 100%;
}

/* .flip-card */
.flip-card {
  width: inherit;
  height: inherit;

  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
}

.flip-card:hover .card-back {
  box-shadow: inset 0 0 200px 1px rgba(255, 255, 255, 0.1);
}

/* .card-... */
.card-front,
.card-back {
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  color: #fefefe;

  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.card-back {
  transform: rotateY(0deg);
  z-index: 3;
}

@media screen and (min-width:1024px) {

  /* hover and focus-within states */
  .flip-card-container:hover .flip-card,
  .flip-card-container:focus-within .flip-card {
    transform: rotateY(180deg);
  }

  /* .card-back */
  .card-back {
    transform: rotateY(180deg);
    z-index: 1;
    background: var(--dark);
  }
}

/* figure */
figure {
  position: absolute;
  top: 1000;
  left: 1000;

  margin: 0 !important;
  padding: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
}

/* img */
.flip-card-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  aspect-ratio: 2/3;
}

/* figcaption */
figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 12px;

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, .5);
}

</style>
